In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('datasets/titanic/titanic3.xls')

In [3]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
pclass       1309 non-null int64
survived     1309 non-null int64
name         1309 non-null object
sex          1309 non-null object
age          1046 non-null float64
sibsp        1309 non-null int64
parch        1309 non-null int64
ticket       1309 non-null object
fare         1308 non-null float64
cabin        295 non-null object
embarked     1307 non-null object
boat         486 non-null object
body         121 non-null float64
home.dest    745 non-null object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.2+ KB

In [5]:
data = data[['pclass', 'survived', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked']]

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 8 columns):
pclass      1309 non-null int64
survived    1309 non-null int64
sex         1309 non-null object
age         1046 non-null float64
sibsp       1309 non-null int64
parch       1309 non-null int64
fare        1308 non-null float64
embarked    1307 non-null object
dtypes: float64(2), int64(4), object(2)
memory usage: 81.9+ KB

In [7]:
from sklearn.model_selection import train_test_split

X = data[['pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked']]
y = data['survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=2019)

In [8]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 981 entries, 1193 to 1096
Data columns (total 7 columns):
pclass      981 non-null int64
sex         981 non-null object
age         784 non-null float64
sibsp       981 non-null int64
parch       981 non-null int64
fare        980 non-null float64
embarked    980 non-null object
dtypes: float64(2), int64(3), object(2)
memory usage: 61.3+ KB

In [9]:
X_train['age'] = X_train['age'].fillna(value=X_train["age"].mean())
X_train['fare'] = X_train['fare'].fillna(value=X_train["fare"].mean())

/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [10]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 981 entries, 1193 to 1096
Data columns (total 7 columns):
pclass      981 non-null int64
sex         981 non-null object
age         981 non-null float64
sibsp       981 non-null int64
parch       981 non-null int64
fare        981 non-null float64
embarked    980 non-null object
dtypes: float64(2), int64(3), object(2)
memory usage: 61.3+ KB

In [11]:
X_train['embarked'].value_counts()

S    690
C    195
Q     95
Name: embarked, dtype: int64

In [12]:
X_train['embarked'] = X_train['embarked'].fillna(value='S')

/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [13]:
X_train.head()

      pclass   sex        age  sibsp  parch     fare embarked
1193       3  male  30.132653      0      0   7.7250        Q
524        2  male  30.132653      0      0  13.8625        C
731        3  male  19.000000      0      0   7.8958        S
1201       3  male  22.000000      0      0   7.2292        C
677        3  male  26.000000      0      0   7.8958        S

In [14]:
from sklearn.preprocessing import OneHotEncoder

In [15]:
ohe = OneHotEncoder(sparse=False)

In [16]:
X_train_cate =  ohe.fit_transform(X_train[['sex', 'embarked', 'pclass']])
ohe.get_feature_names()

X_train_cate = pd.DataFrame(columns=ohe.get_feature_names(), data=X_train_cate)

In [17]:
X_train_numer = X_train.drop(['sex', 'embarked', 'pclass'], axis=1).reset_index(drop=True)

In [18]:
X_train = pd.concat([X_train_cate, X_train_numer], axis=1)

In [19]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 981 entries, 0 to 980
Data columns (total 12 columns):
x0_female    981 non-null float64
x0_male      981 non-null float64
x1_C         981 non-null float64
x1_Q         981 non-null float64
x1_S         981 non-null float64
x2_1         981 non-null float64
x2_2         981 non-null float64
x2_3         981 non-null float64
age          981 non-null float64
sibsp        981 non-null int64
parch        981 non-null int64
fare         981 non-null float64
dtypes: float64(10), int64(2)
memory usage: 92.0 KB

In [20]:
X_test['age'] = X_test['age'].fillna(value=X_train["age"].mean())
X_test['fare'] = X_test['fare'].fillna(value=X_train["fare"].mean())
X_test['embarked'] = X_test['embarked'].fillna(value='S')

/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [21]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 328 entries, 226 to 799
Data columns (total 7 columns):
pclass      328 non-null int64
sex         328 non-null object
age         328 non-null float64
sibsp       328 non-null int64
parch       328 non-null int64
fare        328 non-null float64
embarked    328 non-null object
dtypes: float64(2), int64(3), object(2)
memory usage: 20.5+ KB

In [22]:
X_test_cate = ohe.transform(X_test[['sex', 'embarked', 'pclass']])
X_test_cate = pd.DataFrame(columns=ohe.get_feature_names(), data=X_test_cate)
X_test_numer = X_test.drop(['sex', 'embarked', 'pclass'], axis=1).reset_index(drop=True)
X_test = pd.concat([X_test_cate, X_test_numer], axis=1)

In [23]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rfc = RandomForestClassifier()

rfc.fit(X_train, y_train)

y_predict = rfc.predict(X_test)

accuracy_score(y_test, y_predict)

/anaconda2/lib/python2.7/site-packages/sklearn/ensemble/forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.7408536585365854

In [24]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score

gbc = GradientBoostingClassifier()

gbc.fit(X_train, y_train)

y_predict = gbc.predict(X_test)

accuracy_score(y_test, y_predict)

0.7957317073170732