In [1]:
import pandas as pd

In [2]:
col_names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
data = pd.read_csv('datasets/boston-house/housing.data', delim_whitespace=True, names=col_names)

In [3]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
CRIM       506 non-null float64
ZN         506 non-null float64
INDUS      506 non-null float64
CHAS       506 non-null int64
NOX        506 non-null float64
RM         506 non-null float64
AGE        506 non-null float64
DIS        506 non-null float64
RAD        506 non-null int64
TAX        506 non-null float64
PTRATIO    506 non-null float64
B          506 non-null float64
LSTAT      506 non-null float64
MEDV       506 non-null float64
dtypes: float64(12), int64(2)
memory usage: 55.4 KB

In [5]:
from sklearn.model_selection import train_test_split

X = data[col_names[0:-1]]
y = data[col_names[-1]]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=2019)

In [6]:
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()

X_train = ss.fit_transform(X_train)
X_test = ss.transform(X_test)

/Users/michael/anaconda/lib/python2.7/site-packages/sklearn/preprocessing/data.py:617: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/michael/anaconda/lib/python2.7/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/Users/michael/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:6: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.

In [7]:
X_train

array([[-0.39727798, -0.4957408 , -0.35043326, ...,  1.11658086,
         0.40084894, -0.43877126],
       [-0.39427956, -0.4957408 , -0.05623421, ...,  0.08068949,
         0.38380147,  0.69326735],
       [-0.40374784, -0.4957408 ,  2.12634596, ...,  0.30588326,
         0.21264939,  0.78844512],
       ...,
       [-0.24894201, -0.4957408 ,  1.24664732, ..., -1.67582198,
         0.05707711, -0.73151501],
       [ 0.34536649, -0.4957408 ,  1.03215737, ...,  0.80130957,
         0.37025381, -1.37035972],
       [-0.40390473, -0.4957408 , -0.02435057, ...,  0.35092202,
         0.35738354, -1.00118535]])

In [8]:
X_test.shape

(127, 13)

In [9]:
from sklearn.neural_network import MLPRegressor 
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

mlpr = MLPRegressor(hidden_layer_sizes=(200, 10), max_iter=5000)

mlpr.fit(X_train, y_train)

y_predict = mlpr.predict(X_test)

print mean_absolute_error(y_test, y_predict)
print mean_squared_error(y_test, y_predict)
print r2_score(y_test, y_predict)

2.365524529947893
10.957873669804004
0.8436554711638883